.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro{
  display: flex;
  flex-direction: column;
  height: 15%;
  max-width: 80%;
  word-break: break-word;
  align-items: center;
  justify-content: space-between;
}

.submitBtn{
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  outline: none;
}

.submitBtn:hover{
  background-color: hsla(276, 85%, 77%, 1);
  color: black;
}

.chartContainer{
  display: flex;
  flex-direction: column;
  height: 80%;
  min-width: 300px;
  width: 100%;
  max-width: 800px;
  align-items: center;
  justify-content: space-evenly;
}